/* line 1, ../sass/scroll.scss */
section {
  position: relative;
}
/* line 4, ../sass/scroll.scss */
section:before, section:after {
  content: '';
  display: block;
  position: absolute;
  width: 70px;
  height: 100%;
  top: 0;
}
/* line 14, ../sass/scroll.scss */
section:before {
  left: 0;
  background: linear-gradient(270deg, #fff0 0, #fff 90%, #fff);
}
/* line 19, ../sass/scroll.scss */
section:after {
  right: 0;
  background: linear-gradient(90deg, #fff0 0, #fff 90%, #fff);
}

/* line 25, ../sass/scroll.scss */
.scroll {
  border-bottom: 1px solid #00000050;
  overflow-x: auto;
  display: flex;
}
/* line 30, ../sass/scroll.scss */
.scroll div {
  display: inline-block;
  width: 100px;
  height: 30px;
  background-color: #f7f7f7;
  white-space: nowrap;
  text-align: center;
  line-height: 30px;
  padding: 0 20px;
}
/* line 40, ../sass/scroll.scss */
.scroll div + div {
  margin-left: 10px;
}
